
.jumbotron { 
    background-image: URL("cells.jpg");
}

.jumbotron h1 {
    color: white;
}

.jumbotron p {
        color: white;
}
.color {
    background-color: #6495ED;
}
.well {
    background-color: steelblue;
}
.well h3 {
    color: white;
}
.background {
    background-color: lightsteelblue";
}
.centretext {
   text-align: center;
}
